$primary-color-1: hsl(,,)
$primary-color-2: hsl(,,)
$primary-color-3: hsl(,,)
$primary-color-4: hsl(,,)
$primary-color-5: hsl(,,)
$primary-color-6: hsl(,,)
$primary-color-7: hsl(,,)

$neutral-color-1: hsl(,,)
$neutral-color-2: hsl(,,)
$neutral-color-3: hsl(,,)
$neutral-color-4: hsl(,,)
$neutral-color-5: hsl(,,)
$neutral-color-6: hsl(,,)
$neutral-color-7: hsl(,,)

$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
$accent-color-colorname-1: hsl(,,)
